# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.project
.classpath
.metadata

# Common
pom.xml.versionsBackup
target/
.DS_Store
__MACOSX
cef_bundle/ 
libwebview.dylib
libwebview.so
webview.dll
WebView2Loader.dll
